*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    width: 50px;
}
.img img{
    height: 45px;
    width: 45px;
}
.fixed{
    position: fixed;
    height: 100%;
}

th{
    font-size: 20px;
    color: antiquewhite;
}
td{
    padding: 1em !important;
}